openmrs-module-*
openmrs-core
mirebalais-puppet/
ces-access-exporter/
ces-analytics/
ces-ascvd/
ces-data-migration/
ces-maternal-data-analysis/
ces-metadata/
ces-distro/ubuntuiso/
ces-distro/*.iso
database-transfer-gui/
env/
*.pyc
.Rproj.user
